<!-- Services Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">Main features of library.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-folder-open-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Loading</h4>
                    <p class="text-muted">Easy to use graph loading API</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Measures</h4>
                    <p class="text-muted">Compute multiuple graph measures in one line of code using your whole cluster!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community detection</h4>
                    <p class="text-muted">Use your cluster to detect communities in your graph!</p>
                </div>
            </div>
            <div class="text-center row">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Link prediction</h4>
                    <p class="text-muted">Predict links between vertices at scale!</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-random fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Graph generators</h4>
                    <p class="text-muted">Evaluate your alghoritms on synthetic graphs.</p>
                </div>
            </div>
        </div>
    </section>